@model MCC67.Models.Produk

<h3>Edit Product Page</h3>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div class="form-group">
				<label>Name</label>
				<Input type="text" asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="SuplierId" class="lable-control">Supplier</label>
				<select asp-for="SuplierId" class="form-control" asp-items="ViewBag.Supplier">
				</select>
			</div>
			<div>
				<input type="submit" value="Save"/>
				<div class="col-md-10">
					<span asp-validation-for="SuplierId" class="text-danger"></span>
				</div>
			</div>
		</form>
	</div>
</div>