@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://localhost:44327/produk">Product Page</a>.</p>
    <p><a href="https://localhost:44327/supplier">Supplier Page</a>.</p>
</div>
