@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome Please Login to your Account!</h1>
    <p><a href="https://localhost:44327/Account/Login">Login</a>.</p>
    <p><a href="https://localhost:44327/Account/Register">Register</a>.</p>
</div>

